doctype html
html
  head
    title Halloween
    block scripts
    block style
  body
    nav#navbar 
        ul  
            img(src="static/icon.png", alt="")
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/contact") Contact-us]
            li #[a(href="/") Services]
        div#blood 
            img(src="static/pngegg.png", alt="")
    block content
    footer#footersection
        |All the right reserved to zombies